<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Habitton</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>


  <% if (user) { %> 
  <div class="body">
    <div class="links">
      <a href="/habits">See Your Habits</a>
    </div>
    <div class="links">
      <a href="/habits/new">Make A Habit</a>
    </div>
  </div>
  <% } else { %> 
    <p>Habitton is an app to help you make new daily habits. You can make habits and record completing them each day.</p>
    <p>Keep in mind S.M.A.R.T. goals: your habit should be Specific, Measurable, Attainable, Relevant, and Timely.</p> 
    <p>"Be productive" is not specific -- try "Turn on do not disturb while at work." A measurable habit is one you can say is done, definitively.</p>
    <p>Try "Make the bed after getting up". Attainable habits are realistic -- if you don't regularly exercise, try "Do ten pushups" rather than "Run a marathon." </p>
    <p>Make sure your habit is relevant -- if you're about to flunk your math class, maybe your habit should be about studying rather than fitness. </p>
    <p>Timeliness is taken care of becuase this is a daily habit tracker, but consider using time limits to keep your habits specific and acheivable. </p>
  <% } %> 
</main>

<%- include('./partials/footer') %>
