<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %> </h1>
  <p>Change the category or edit habit below:</p>
<div class="content-card">
<form id="new-form" action="/habits/<%= habit._id %>?_method=PUT" method="POST">
    <label for="category-select">Category:</label>
    <select name="category" id="category-select">
      <option value="Health">Health</option>
      <option value="Work">Work</option>
      <option value="Relationship">Relationship</option>
      <option value="Fitness">Fitness</option>
    </select></br>
    <label for="habit-input">Habit:</label>
    <textarea type="text" name="habit" id="habit-input" required><%= habit.habit %></textarea><br>
    <button type="submit">Submit</button>
</form>
</div>
</main>

<%- include('../partials/footer') %>