<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/habits.css"/>  
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <div class="body">
  <% habits.forEach(habit => { %> 
    <a href="/habits/<%= habit.id %> ">
    <div class="habit-card hc-idx">
    <div id="category"><%= habit.category %></div>
    <p><%= habit.habit %></p>
  </div>
  </a>
    <% }) %> 
  </div>
</main>

<%- include('../partials/footer') %>