<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <% habits.forEach(habit => { %> 
    <p><%= habit.category %> </p>
    <p><%= habit.habit %> </p>
    <% }) %> 
</main>

<%- include('../partials/footer') %>