<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css"/>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <div class="habit-card">
    <div id="category"><%= habit.category %></div>
    <p><%= habit.habit %></p>
      <a href="/habits/<%= habit._id %>/edit">
      <button id="edit-btn">✎</button>
      </a>
      <form action="/habits/<%= habit.id %>?_method=DELETE" method="POST">
      <button id="delete-btn">☓</button>
      </form>
  </div>
  <div class="content-card">
    Did you <%= habit.habit.toLowerCase() %> today? <br>
    <form action="/habits/<%= habit.id %>/events" method="POST">
    <button type="submit">Yes!</button>
    </form>
  </div>
  <p></p>
  <% dateCreated.forEach(function(event){ %> 
  <div class="content-card">
    <%= event %> 
  </div>
  <% }) %> 
</main>

<%- include('../partials/footer') %>